/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #222222A0;
    background-alt: #303030ff;
    foreground:     #a0a0a0ff;
    selected:       #222222ff;
    active:         #a790d5ff;
    urgent:         #767676ff;
}
